*{
    background-color: black;
    color: white;
    font-size : 18px;
}

header{
    border: 3px dashed green;
    margin: 25px;
}
#title{
    text-align: center;
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px chocolate;

}

h3{
    text-align: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

main{
    border-left: 3px dashed blue ;
    border-right:3px dashed blue ;

    margin-left: 25px;
    margin-right: 25px;
}
#planets{
    font-size: 32px;
    padding-left: 2%;
    color: orange;
}
a.list1{
    color: orange;
}

a.list2{
    color: green;
}
ul{
    columns: 2;
}

li{
    padding-bottom: 5%;
}
.three{
    padding-left: 2%;
}
.dare{
    padding-left: 5%;
}
nav {
    border-bottom: 3px dashed white;
    padding-left: 3%;
}

.copy{
    border-top:3px dashed red;
    padding-top: 1%;
    text-align: right;
    padding-right: 2%;
}
footer{
    border: 3px dashed white;
    margin: 25px;
    padding-top: 10px;
}
